.container(style="margin:50px 50px" )
  .row
    %h1
      活动通
  .row(style="width:1320px" )
    .login-box
      %h4 用户登录
      .text-right
        %a.btn-style.btn-1{:href => "signup.html"}
          用户注册
      %br
        .input-prepend
          %span.add-on(style="padding-bottom:2px;padding-top:1.7px")
            帐号
          %input(style="text;width:338px" )
        .input-prepend
          %span.add-on(style="padding-bottom:2px;padding-top:1.7px")
            密码
          %input(style="text;width:338px" )
        .text-right
          %a.btn-style.btn-1
            忘记密码
      .text-center
        %button(class="btn btn-primary" style="width:150px" )
          登录

