.container(style="margin:10px 50px" )
  .row
    %h1
      活动通
  .row(style="width:1320px" )
    .sign_up-box
      %h4 用户登录
      .text-right
        =link_to"用户注册",signup_path
      %br
        .input-prepend
          %span.add-on(style="padding-bottom:2px;padding-top:1.7px")
            帐号
          %input(style="text;width:338px" )
        .input-prepend
          %span.add-on(style="padding-bottom:2px;padding-top:1.7px")
            密码
          %input(style="text;width:338px" )
        .text-right
          =link_to"忘记密码"
      .text-center
        %button(class="btn btn-local" style="width:150px padding-" )
          登录

