.container(style="float:left;margin-top:10px;padding-left:50px" )
  .row
    %h1
      活动通
-if current_user
  %br
  .text-right(style="float:right;margin-top:10px;padding-right:30px" )
    你好,
    =current_user.name
    =link_to "退出",logout_path,method: "delete"
    %br
-if current_user[:admin]=='admin'
  .panel-default(style="margin:0 auto;height:10px;margin-top:75px;margin-left:30px;margin-right:30px" )
    .panel-heading(style="border-top-right-radius: 5px; border-top-left-radius: 5px;" )
      %h2.panel-title
        用户管理
        %button(style="font-size:14px;margin-left:20px;padding-left:0px;padding-right:0px"  )+添加用户
    .panel-body(style="padding-bottom:0px;padding-top:0px" )
    %table.table
      %thead
        %tr
          %th 编号
          %th 用户名
          %th 操作

      %tbody
        -@users.each do|user|
          %tr
            %td(style="text-center" )
              =user.id-29
            %td(style="text-center" )
              =user.name
            %td(style="text-center" )
              =link_to"删除"
              =link_to"修改密码"
    .panel.footer(style="float:right" )
      .digg_pagination
        = h will_paginate @users, :previous_label=> '<<', :next_label=> '>>'