<div class="header">
  <div class="container clearfix">
    <a class="header-logo-wordmark" herf="/">
      HOME
    </a>
    <ul id="user-links">
      <li ><%=link_to"zhuce",signup_path%></li>
      <li><%link_to"denglu",login_path%></li>

    </ul>
  </div>
</div>
